 .carousel-container {
     width: 316px;
     height: 400px;
     border: 1px solid black;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     /*???*/
 }

 .carousel-img {
     position: relative;
     width: 100%;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     /* overflow: hidden; */
 }

 .carousel-slide {
     /* 使用 position: absolute 是为了将所有图片堆叠在同一位置，通过控制 opacity 或 z-index 来切换显示的图片，实现平滑的过渡和轮播效果。如果不使用 position: absolute，图片将无法重叠，会依次水平排列，从而破坏轮播图的效果。或者通过使用 translateX 来实现轮播效果，其实现原理和Tabs里类似，不需要使用 "position: absolute". */
     position: absolute;
     width: 100%;
     height: 100%;
     transition: opacity 0.5s ease-in-out;
     opacity: 0;
     z-index: 1;
 }

 .carousel-slide.carousel-active {
     opacity: 1;
     z-index: 10;
 }

 .carousel-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .prev-img,
 .next-img {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: #fff;
     border: 1px solid #000;
     padding: 10px;
     cursor: pointer;
     z-index: 20;
 }

 .prev-img {
     left: 10px;
 }

 .next-img {
     right: 10px;
 }

 .carousel-dots {
     position: absolute;
     bottom: 10px;
     width: 100%;
     display: flex;
     justify-content: center;
     /* list-style: none; */
     padding: 0;
     margin: 0;
 }

 .carousel-dots li {
     width: 8px;
     height: 8px;
     background: #f8cbcb;
     border-radius: 50%;
     margin: 0 5px;
     cursor: pointer;
     transition: background 0.3s ease;
     z-index: 30;
 }

 .carousel-dots li.active-dot {
     background: #a13838;
 }

 .carousel-text {
     padding: 20px;
 }