.details-container {
    width: 60vw;
    margin: 20px auto;
}


.details-main-container {}

.picture-details {

    height: 55vh;
    border: 1px solid black;
    background: pink;
    margin-top: 20px;
}

.text-details {
    display: flex;
    gap: 20px;
}

.left-text {
    margin-top: 20px;
    flex-grow: 2;
    border: 1px solid black;
    height: 100vh;
}

.right-container {
    margin-top: 20px;
    flex-grow: 1;
    border: 1px solid black;
}

.right-reserve {
    height: 540px;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 10px #ccc;
    border-radius: 12px;
}