.search-dropdown-container-calendar {
    width: 848px;
    height: 479px;
    border: 1px solid #ebebeb;
    border-radius: 32px;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    background-color: white;
}

.calendar-container {
    width: 100%;
    height: 100%;
}
.date-chose-calendar-bar {
    width: 303px;
    height: 44px;
    border: 1px solid #ebebeb;
    border-radius: 32px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    background-color: #ebebeb;
}

.date-chose-calendar-bar > div {
    width: 33%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-chose-calendar-bar > div:hover {
    background-color: white;
    border-radius: 32px;
}

/* Destination  & guests*/

.destination-container,
.guests-container {
    width: 428px;
    height: 401px;
    border: 1px solid #ebebeb;
    border-radius: 32px;
    /* margin: 5px auto; */
    /* display: flex; */
    /* align-items: center; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    /* margin: 10px auto;*/
}

.destination-container {
    justify-self: start;
}

.dropdown-wrapper {
    width: 848px;
    height: 479px;
    margin: 5px auto;
    display: grid;
    /* justify-content: space-between; */
}

.guests-container {
    justify-self: flex-end;
}

.destination-container > p {
    font-weight: 700;
    width: 372px;
    margin: 20px auto;
    padding-left: 30px;

    margin-left: 8px;
}
.grid-destinations {
    width: 366px;
    height: 302px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 20px auto;
}

.grid-item {
    width: 121px;
    height: 147px;
}
.grid-item:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.grid-img {
    width: 103px;
    height: 103px;
    border: 1px solid #ebebeb;
    border-radius: 32px;
}
.grid-text {
    width: 103px;
    height: 18px;
    margin-top: 10px;
    text-align: center;
}

#wrapper-ref {
    width: 848px;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
}
